<div class="container" style="margin:0 auto;">

	<h1 style="color:<%= @category.color %>;"><%= @category.name %></h1>
	<div class="row">
		<%= render @category.articles %>
	</div>
	<!-- < % @category.articles.each do |article| % >
	<h3>< % = link_to article.title, article %></h3>
		<div>
			< % = article.body % >  - < % = link_to "Eliminar",  article, method : : delete, clas s : "red" % >
		</div>
	< % end % > -->


	<div class="top-space text-center">
		<%= link_to 'Edit', edit_category_path(@category) %> |
		<%= link_to 'Back', categories_path %>
	</div>
</div>